body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#particleCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s;
}

#startButton {
    position: absolute;
    z-index: 10;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #b22222;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#content {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #111;
    color: #fff;
    width: 100%;
    max-width: 600px; /* Adjust max-width for responsiveness */
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 2s;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #222;
    border-bottom: 2px solid #b22222;
}

footer {
    border-top: 2px solid #b22222;
}

section {
    margin: 20px 0;
    text-align: center;
}

.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto; /* Center align on mobile */
}

.music-player audio {
    width: 100%;
}

.music-player .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.music-player .btn {
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    background: #444;
    color: #fff;
    border: none;
    border-radius: 50%;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.music-player .btn:hover {
    background: #666;
    transform: scale(1.1);
}

.music-player .progress-bar {
    width: 100%;
    margin-bottom: 10px;
}

.music-player .volume-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.music-player .volume-control input {
    width: 80%;
}

.places-gallery, .food-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.places-gallery img, .food-gallery img {
    width: calc(50% - 10px); /* Two images per row on mobile */
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.places-gallery img:hover, .food-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

footer p {
    margin: 0;
    font-size: 14px;
}
